@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root{
    --brand-green: hsl(170, 100%, 26%);
    --brand-green-hover: hsl(170, 100%, 14%);
    --brand-green-light: hsl(148, 23%, 89%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-green-light-02: hsl(180, 14%, 97%);
    --gray-headline: hsla(210, 11%, 15%);
    --gray-paragraph: hsl(210, 9%, 31%);
}

html{
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    max-width: 100%;
}

.btn{
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    font-weight: 700;
    text-transform: uppercase;

    border: none;
    border-radius: 2.8rem;

    color: white;
    background: var(--brand-green);

    padding: 1.6rem 2.8rem;
    margin-top: 3rem;
}

header{
    background: var(--brand-green-light);
}

/*Navigation*/
header .header-light{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    padding: 2rem 2rem;

    z-index: 100;
}


header nav{
    display: none;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

    background: var(--brand-green);

    z-index: 1000;
}

header nav .header-dark{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;

    padding: 2rem 2rem;
}

header nav .header-dark .close{
    margin-right: 1rem;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 2rem 0;
}

header nav ul li{
    margin: 2.6rem 0;
}

header nav ul li a{
    font-size: 2.4rem;
    font-weight: 700;

    color: var(--brand-beige);
}

header nav ul li a:hover{
    font-size: 2.5rem;
}

header nav ul .btn{
    font-size: 1.9rem;
    
    padding: 1.8rem 2.6rem;

    margin-top: 5rem;

    background: white;
    color: var(--brand-green);
}

header nav ul .btn:hover{
    padding: 2rem 2.8rem;
}

header nav .social-midia{
    display: flex;
    justify-content: center;

    margin: 10rem;
}

header nav .social-midia a{
    margin: 1.6rem;
}

header nav .social-midia a:hover img{
    width: 30px;
}

/*Hero*/
header .hero{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 8rem;
    
    padding: 2rem;
    height: 155vh;
}

header .hero h2{
    font-size: 1.8rem;
    color: var(--brand-green);
}

header .hero h1{
    font-size: 3.4rem;
    text-align: center;

    margin-top: 1.6rem;

    color: var(--gray-headline);
}

header .hero p{
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;

    margin-top: 2rem;

    color: var(--gray-paragraph);
}

header .hero .btn:hover{
    padding: 1.8rem 3rem;
    font-size: 1.6rem;
}

header .hero .btn img{
    margin-right: 1.6rem;
}

header .hero .woman-img{
    margin-top: 5rem;

    height: 45rem;
}

/*Statics*/

header .statics{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 850px;
    left: 6.5%;

    width: 85vw;

    padding: 3rem 0;
    background-color: white;

    border: solid 1px var(--brand-green-light);
    border-radius: 1rem;

    z-index: 1;

}

header .statics h2{
    font-size: 4.8rem;

    color: var(--gray-headline);

    margin-top: 6rem;
   
}

header .statics p{
    font-size: 1.6rem;

    margin-top: 10px;

    color: var(--brand-green);
}


header .statics p:nth-last-child(1){
    margin-bottom: 6rem;
}
/*Services*/

main{
    background-color: var(--brand-green-light-02);
}

main .services {
    padding-top: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 auto;
}

main .services .service-title{
    width: 60%;

    margin-bottom: 7rem;
}

main .services .service-title h3{
    color: var(--brand-green);
    font-size: 1.9rem;
}

main .services .service-title h2{
    font-size: 3rem;

    color: var(--gray-headline);
}

main .services .sevice-cards{
    text-align: left;

    padding: 0 2rem;
    margin-bottom: 5rem;

    width: 60%;

    background-color: #FFFFFF;
    border: solid 1px var(--brand-green-light);
}

main .services .sevice-cards .circle{
    background: var(--brand-green-light-02);

    width: 2rem;
    height: 2rem;

    padding: 2px;
    margin-top: 3.4rem;

    border-radius: 100%;
    border: solid 1px var(--brand-green);
}

main .services .sevice-cards h2{
    font-size: 2.4rem;

    margin-top: 1.6rem;

    color: var(--gray-headline);
}

main .services .sevice-cards p{
    font-size: 1.6rem;
    color: var(--gray-paragraph);

    margin-top: 1.6rem;
    margin-bottom: 5rem;
}

/*About us*/

main .about-us{
    display: flex;
    flex-direction: column;

    background: var(--brand-beige);
    
    padding: 4rem 10rem;
}

main .about-us h3{
    font-size: 1.9rem;

    margin-bottom: 2rem;

    color: var(--brand-green);
}

main .about-us h2{
    font-size: 3rem;

    margin-bottom: 2rem;

    color: var(--gray-headline);
}

main .about-us p{
    font-size: 1.6rem;

    margin-bottom: 5rem;

    color: var(--gray-paragraph);
}

/*Contact us*/

main .contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background: #FFF;
    
    padding: 4rem 10rem;
}

main .contact-us h2{
    font-size: 3rem;

    margin-bottom: 2rem;

    color: var(--gray-headline);
}

main .contact-us .about-us-icon{
    display: flex;   
}

main .contact-us .about-us-icon p{
    display: flex;
    align-items: center;

    font-size: 1.6rem;

    margin: 1rem;

    color: var(--gray-paragraph);
}

main .contact-us .btn{
    min-width: 26rem;
    max-width: 28rem;

}

main .contact-us .btn img{
    margin-right: 1rem;
}


main .contact-us .img-homem{
    margin-top: 5rem;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    padding: 3rem 12rem;

    background: var(--brand-green);
}

footer img{
    max-width: 23.6rem;

    margin: 3rem 0;
}

footer p{
    font-size: 1.6rem;

    margin-top: 1rem;

    color: #FFF;
}

footer .social-media-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 50%;
    
    margin-top: 2rem;
}

footer .social-media-footer img{
    width: 2.5rem;

    
}

/*Media Query*/

@media (min-width: 1000px) {

    header .header-light{
        display: none;
        
    }

    header .nav{
        display: flex;
        flex-direction: row;

        background-color: var(--brand-green-light);

        padding: 2rem;

        height: 50px;
    
        z-index: 1000;
    }

    header nav .header-dark{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        max-width: 100%;
    
        padding: 2rem 2rem;
    }

    header nav .header-dark .close{
        display: none;
    }
    
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        padding: 2rem 0;
    }
    
    header nav ul li{
        margin: 2.6rem 0;
    }
    
    header nav ul li a{
        font-size: 2.4rem;
        font-weight: 700;
    
        color: var(--brand-beige);
    }
    
    header nav ul li a:hover{
        font-size: 2.5rem;
    }
    
    header nav ul .btn{

        display: none;
        font-size: 1.9rem;
        
        padding: 1.8rem 2.6rem;
    
        margin-top: 5rem;
    
        background: white;
        color: var(--brand-green);
    }
    
    header nav ul .btn:hover{
        padding: 2rem 2.8rem;
    }
    
    header nav .social-midia{
        display:  none;
        justify-content: center;
    
        margin: 10rem;
    }
    
    header nav .social-midia a{
        margin: 1.6rem;
    }
    
    header nav .social-midia a:hover img{
        width: 30px;
    }

}